    .menu {
    margin: 27px auto 0;
	width: 350px;
	background-color: #34495e;
	border-radius: 8px;
    display: flex;
    text-align: center;
    }

    ul>li {
    line-height: 50px;
	font-size: 15px;
	display: inline-block;
	text-transform: uppercase;
    }

    .home-link,
    .nutri-link,
    .autora-link {
        width: 110px;
        color: #fff;
        text-decoration-line: none;
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .home-link:hover,
    .nutri-link:hover,
    .autora-link:hover {
        background-color: #C5E1A5;
        color: black;
        border-radius: 10px;
    }

    .home-link, .nutri-link{
        
    }

    .icon-home, .icon-nutri, .icon-autora{
        margin-top: 5px;
    }
    
    

    @media(min-width: 320px) and (max-width: 1024px) {
       
        .menu{
            width: 350px;
            height: 20px;
            padding: 8px;
            display: flex;
            justify-content: center;

           }

           ul>li{
            line-height: 20px;
            font-size: 15px;
        }
    }

    @media(min-width: 1024px) and (max-width: 1110px) {
       .menu{
        width: 600px;
        height: 40px;
        display: flex;
        justify-content: space-around;
       }

       ul>li{
           line-height: 40px;
           font-size: 20px;
       }
    }