    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300;400;500&family=Roboto:wght@100;300&display=swap');

    .titulo-home {
        color: black;
        text-align: center;
        margin-top: 5%;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
    }

    .foto-home {
        width: 40%;
        margin: 50px;
        border-radius: 10%;
    }

    .paragrafo-um {
        display: flex;
        text-align: justify;
        margin: 130px 30px 50px 50px;
        font-size: 20px;
    }

    .section-foto {
        display: flex;
        background-color: #C5E1A5;
        height: auto;
        width: 100%;
    }

    .foto-um {
        width: 30%;
        margin: 50px 30px 30px 20px;
        border-radius: 10px;
    }


    .paragrafo-dois {
        display: flex;
        margin: 130px 30px 0px 20px;
        text-align: justify;
        font-size: 18px;
    }

    .section-dados {
        background-color: #e7e3e3;
        color: #fff;
        height: 500px;
        width: 100%;
    }

    .titulo-dados {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 44px;
        font-family: 'Roboto', sans-serif;
        color: black;
    }

    .lista-dados {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-auto-columns: 100px;
    }

    .li-dados {
        margin: 10px;
        background: #fff;
        padding: auto;
        color: black;
        text-align: center;
        font-size: 18px;
        box-shadow: 0 0 1em black;
    }

    .paragrafo-dados {
        display: flex;
        font-size: 15px;
        margin: 30px;
        color: black;
    }


    .titulo-doacao {
        display: flex;
        justify-content: center;
        line-height: 52px;
        font-size: 30px;
    }

    .paragrafo-doacao {
        color: black;
        margin: 100px;
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

    .mail {
        color: black;
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }

    @media(min-width: 320px) and (max-width: 1024px) {

        .section-home{
            display: grid;
            grid-template-rows: 1fr;
        }


        .foto-home{
           margin-left: 5%;
           width: 350px;
        }

        .paragrafo-um {
            margin-top: 10px;
            margin-left: 20px;
        }

        .section-foto {
            display: grid;
            grid-template-rows: 1fr;
        }

        .paragrafo-dois {
            margin: 30px;
        }

        .foto-um {
            width: 90%;
            margin: 5px 20px 20px;
        }

        .titulo-dados {
            font-size: 30px;
        }

        .lista-dados {
            margin-right: 30px;
        }

        .li-dados {
            font-size: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
        }

        .paragrafo-dados {
            font-size: 10px;
            margin: 0 auto;
        }

        .titulo-doacao {
            font-size: 20px;
            text-align: center;
        }

        .paragrafo-doacao {
            display: grid;
            text-align: center;
            font-size: 15px;
            margin: 20px 20px 50px;
        }

        .mail {
            margin: 10px 200px;
        }
    }

    @media(min-width: 1024px) and (max-width: 1110px) {
        .section-foto {
            display: flex;
        }

        .paragrafo-dois {
            font-size: 20px;
        }

        .foto-um {
            width: 50%;
            margin: 30px;
        }

        .titulo-dados {
            font-size: 40px;
        }

        .li-dados {
            font-size: 20px;
            display: flex;
            justify-content: center;
        }

        .paragrafo-dados {
            font-size: 15px;
        }

        .titulo-doacao {
            font-size: 30px;
        }

        .paragrafo-doacao {
            font-size: 25px;
        }

        .mail {
            margin-left: 300px;
        }
    }