@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300;400;500&family=Roboto:wght@100;300&display=swap');

    .paragrafo-um {
        display: flex;
        text-align: center;
        margin: 100px 30px 100px 30px;
        font-size: 20px;
    }

    .section-foto {
        display: flex;
        background-color: #C5E1A5;
        height: auto;
        width: 100%;
    }

    .foto-um {
        width: 500px;
        margin: 50px 30px 30px 20px;
        border-radius: 10px;
    }


    .paragrafo-dois {
        display: flex;
        margin: 130px 30px 0px 20px;
        text-align: justify;
        font-size: 18px;
    }

    .section-dados {
        background-color: #e7e3e3;
        color: #fff;
        height: 500px;
        width: 100%;
    }

    .titulo-dados {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 44px;
        font-family: 'Roboto', sans-serif;
        color: black;
    }

    .lista-dados {
        display: grid;
        grid-template-columns: 2fr 2fr;
	    grid-auto-columns: 100px;
    }

    .li-dados{
        margin: 10px;
        background: #fff;
        padding: auto;
        color: black;
        text-align: center;
        font-size: 18px;
        box-shadow: 0 0 1em black;
    }

    .paragrafo-dados{
        display: flex;
        font-size: 15px;
        margin: 30px;
        color: black;
    }

    
    .titulo-doacao {
        display: flex;
        justify-content: center;
        line-height: 52px;
        font-size: 40px;
    }

    .paragrafo-doacao{
        color: black;
        margin: 100px;
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

    .mail {
        color:black;
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }