    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300;400;500&family=Roboto:wght@100;300&display=swap');


    .titulo-nutri{
        margin-top: 50px;
        color: black;
        text-align: center;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
    }

    .paragrafo-nutri{
        color: black;
        text-align: center;
        margin-top: 60px;
        font-style: italic;
        box-shadow: 0 0 1em black;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }

    .section-frame{
        display: flex;
        justify-content: center;
    }

    .frame{
        box-shadow: 0 0 1em black;
        margin: 80px;
        height: 500px;
    }

    .foto-form{
        width: 40%;
    }

    @media(min-width: 320px) and (max-width: 1024px) {
        .titulo-nutri{
           font-size: 30px;
        }

        .paragrafo-nutri{
            font-size: 15px;
        }

        .section-frame{
            margin-left: auto;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

        .foto-form{
            margin-top: 40px;
            width: 70%;
        }

        .frame{
            width: 100%;
        }
        
    }

    @media(min-width: 1024px) and (max-width: 1110px) {
        .titulo-nutri{
            font-size: 30px;
        }

        .paragrafo-nutri{
            font-size: 22px;
        }
    }