    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300;400;500&family=Roboto:wght@100;300&display=swap');

    .img-nutri{
        height: 550px;
        background: linear-gradient(rgba(14, 13, 13, 0.4),
        rgba(7, 7, 7, 0.4)), url(../../assets/frutas.jpg) no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        text-align: center;
        opacity: 0.6;
        width: 100%;
    }

    .titulo-nutri{
        margin-top: 10px;
        color: black;
        text-align: center;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
    }

    .paragrafo-nutri{
        color: black;
        text-align: center;
        margin: 10px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }

    .section-frame{
        display: flex;
        justify-content: center;
    }

    .frame{
        box-shadow: 0 0 1em black;
        margin: 80px;
    }

    @media(min-width: 320px) and (max-width: 1024px) {
        .img-nutri{
           /* width: auto; */
           max-width: 100%;
           height: auto;
        }

        .titulo-nutri{
           font-size: 20px;
        }

        .paragrafo-nutri{
            font-size: 17px;
        }

        .section-frame{
            margin-left: auto;
        }
        
    }

    @media(min-width: 1024px) and (max-width: 1110px) {
        .titulo-nutri{
            font-size: 30px;
        }

        .paragrafo-nutri{
            font-size: 22px;
        }
    }