    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300;400;500&display=swap');

    .div-autora {
        width: 100%;
        font-family: 'Quicksand', sans-serif;
    }

    .titulo-autora {
        display: flex;
        justify-content: center;
        color: black;
        font-size: 32px;
    }

    .paragrafo {
        background-color: #C5E1A5;
        display: flex;
        text-align: justify;
        font-size: 18px;
        padding: 20px;
    }

    .foto-autora {
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }

    .section-skills-redes {
        display: flex;
        justify-content: center;
    }

    .skills-container {
        display: flex;
    }

    .descricao {
        color: black;
        font-size: 18px;
        display: flex;
        margin: 50px 30px 0px 20px;
        font-size: 18px;
    }


    .skills-box {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 25px 20px 50px 20px;
    }

    .front-end {
        font-size: 20px;
        font-weight: bold;
        margin-right: 10px;
        padding-left: 10px;
        border-left: 5px solid black;
    }

    .skills-box i {
        display: flex;
        align-items: center;
        text-align: center;
        color: black;
    }


    .section-redes {
        display: flex;
    }

    .paragrafo-redes {
        display: flex;
        margin: 50px;
        font-size: 18px;
    }

    .link-linkedin {
        display: flex;
        align-items: center;
        text-align: center;
        color: black;
        margin: 25px 20px 50px 20px;
    }

    .link-github {
        display: flex;
        align-items: center;
        text-align: center;
        color: black;
        margin: 25px 20px 50px 20px;
    }

    @media(min-width: 414px) and (max-width: 1024px) {

        .section-skills-redes {
            display: grid;
        }

        .titulo-autora{
            font-size: 40px;
            display: flex;
            justify-content: center;
        }

        .foto-autora{
            width: 200px;
        }

        .descricao {
            display: flex;
            text-align: center;
        }

        .link-github,
        .link-linkedin {
            margin: 10px;
        }
    }

    @media(min-width: 1024px) and (max-width: 1440px) {
        .titulo-autora{
            font-size: 50px;
        }

        .foto-autora{
            width: 400px;
        }

        .paragrafo{
            font-size: 30px;
        }
        
        .front-end, .paragrafo-redes{
            font-size: 30px;
        }

        .descricao{
            font-size: 28px;
        }
    }