    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300;400;500&family=Roboto:wght@100;300&display=swap');

    .header {
        padding-top: 2rem;
    }

    .titulo-header {
        color: black;
        text-align: center;
        margin-top: 5%;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
    }

    .foto-header{
        width: 40%;
        margin: 50px ;
        border-radius: 10%;
    }


    @media(min-width: 320px) and (max-width: 1024px) {

        .img-header{
           /* width: 100%; */
           max-width: 100%;
           /* margin-top: 10px; */
           height: auto;
        }

        .titulo-header{
            display: flex;
            margin-left: 25px;
            margin-top: 30%;
            font-size: 15px;
        }
    }

    @media(min-width: 1024px) and (max-width: 1110px) {

        .img-header{
            width: 100%;
        }

        .titulo-header{
            margin-top: 30%;
        }

        
    }